


// basic colors
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$light-black: #333;
$black:  #111;



// web accents
$light-green: #A1D1BC;
$light-green-lightenx1: #b8dccc;
$light-green-lightenx2: #cde6db;
$gold: #CFB53B;